
body{
	background-color: #b4eebe;
	color: #48493c;
	font-size: 12px;
	font-family: "Verdana",Geneva,sans-serif;
	margin: 0;
	padding: 0;
	min-width: 480px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; 
}

fieldset {
	background-color: transparent; 
	color: #000;
}
a {
	background-color: transparent; 
	color: #000; 
	text-decoration: none;
}

p {
	text-align: justify;
}
h2{
	font-family: "Lobster Two", "Georgia", serif;
	font-weight: 700px;
	font-style: italic;
	text-align: left; 
	color: #ffbf5f;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; 
	padding-left: 5px;
}

h3 {
	font-family: "Lobster Two", "Georgia", serif;
	font-weight: 700px;
	font-style: italic;
	text-align: left; 
	color: #ffbf5f;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; 
	padding-left: 5px;
}

h4 {
	font-family: Lovers Quarrel; 
	color: #ffbf5f; 
	font-size: 35px; 
	letter-spacing: 2px; 
	text-align: center; 
	font-weight: bolder; 
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; 
	margin-top: 0.2em;
}

h5 {
	float: left; 
	font-family: Aguafina Script; 
	color: #ffbf5f; 
	font-size: 35px; 
	letter-spacing: 2px; 
	text-align: center; 
	font-weight: bolder; 
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; 
	margin-top: 0em;
}

h1 {
	height: 0px;
	font-family: Redressed; 
	font-size: 15px; 
	color: #48493c;
	letter-spacing: 2px; 
	text-align: center; 
	font-weight: bolder; 
	margin-top: 1em;
}

small {
	font-family:Sofia;
	font-size: 11px;
	color: #48493c;
	padding-top: 1em;
}
			
hr{
	background-color: transparent;
	height: 0;
	border: none;
	border-bottom: 1px solid rgba(255,255,255,0.08);
	border-top: 1px solid rgba(0,0,0,0.9);
	margin: 0;
	clear: both;
}
.main-content {
	width: 1200px; 
	height: 450px;
	margin-top: 3em;
}

.content-main {
	width: 1200px; 
	height: 550px;
	margin-top: 3em;
}

/* .content-pic {
	float: right; 
	width: 720px; 
	height: 455px; 
	background-image: url('../images/HeadPic 01.png');
}*/


.content-pic {
	float: right; 
	width: 800px; 
	height: 444px; 
	position: absolut;
	background-image: url('../images/Header.png'); 
	margin-right: -2.7em;
	margin-bottom: 2em;
	
}

.content-main-menue {
	float: left; 
	width: 210px; 
	height: 275px; 
	background-image: url('../images/main_menue.png'); 
	border-top: 8px solid #48493c;
	border-left: 1px dotted #000; 
	border-right: 1px dotted #000; 
	border-bottom: 8px solid #48493c;	
	margin-top: 8em; 
	margin-left: 14em;
}

#main-menue {
	margin-top: 2em;
}
#mini {
	font-size: 10px; 
	text-align: center; 
	margin-top: -4.5em;
}

#menue {
	background-color: #48493c; 
	color: #c88a32; 
	width: 140px; 
	height: 20px; 
	font-family: Armata; 
	font-size: 12px; 
	font-style:italic; 
	text-align: center; 
	text-shadow:#000 3px 2px 3px; 
	padding-top: 2px;
}

.content-main-story {
	float: left; 
	width: 550px; 
	height: 450px; 
	background-image: url('../images/main-story.png'); 
	border-top: 8px solid #48493c; 
	border-left: 1px dotted #000; 
	border-right: 1px dotted #000; 
	border-bottom: 8px solid #48493c; 
	margin-left: 13em;
}

#main-story {
	width: 500px; 
	height: 430px;
}

.facts {
	float: left; 
	width: 210px; 
	margin-top: -30em; 
	margin-left: -13em;
}

.facts1 {
	float: right; 
	width: 180px; 
	margin-top: 0em; 
	margin-right: 6em;
}

.facts2 {
	float: left; 
	width: 120px; 
	margin-top: -23em; 
	margin-left: -13em;
}

.facts3 {
	float: right; 
	width: 350px; 
	margin-top: -23em; 
	margin-right: 0em;
}

#tmo_list {
	margin: 20px 0; 
	padding: 0; 
	list-style: none;
}

#tmo_list li {
	margin: 0 0 2px; 
	padding: 0 0 5px 0; 
	border-bottom: 1px dotted #48493c; 
	color: #48493c; 
	text-align: justify;  
	font-size: 11px;
}

.content-main-phobias {
	float: right; 
	width: 180px; 
	height: 300px; 
	background-image: url('../images/main-phobias.png'); 
	border-top: 8px solid #48493c; 
	border-left: 1px dotted #000; 
	border-right: 1px dotted #000; 
	border-bottom: 8px solid #48493c; 
	margin-top: 5em; 
	margin-right: 18em;
}

#main-phobias {
	float: right; 
	width: 179px; 
	height: 300px; 
	background-image: url('../images/main-phobias_01.png'); 
	margin-top: 0em;
	margin-right: 0em;
}

.phobias-second {
	margin-top: 10em;
	margin-left: -3em;
}

#phobias-pic {
	width: 160px; 
	height: 135px; 
	background-image: url('../images/phobias-pic.png'); 
	border: 1px dotted #48493c; 
	margin-top: 0.7em;
}

#phobias-pic1 {
	width: 160px; 
	height: 135px; 
	background-image: url('../images/phobias-pic_01.png'); 
	border: 1px dotted #48493c; 
	margin-top: 0.7em;
}

#mini-phobias {
	font-size: 10px; 
	text-align: center;
	 margin-top: -4.5em;
}

.phobias {
	float:left;
	width: 500px; 
	height: 430px;
	margin-top: -10em;
}

#phobias {
	width: 500px;
	margin-left: 5em;
}

.pyrophobie {
	width: 502px;
	height: 182px;
	background-image: url('../images/Pyrophobie.png');
	border-top: 5px solid #48493c; 
	border-bottom: 5px solid #48493c; 
	border-radius: 25px 25px 0 0;
}

.pnigophobie{
	width: 502px;
	height: 182px;
	background-image: url('../images/Pnigophobie.png');
	border-top: 5px solid #48493c; 
	border-bottom: 5px solid #48493c; 
	border-radius: 25px 25px 0 0;
	margin-top: 0em;
}

.cleisiophobie {
	width: 502px;
	height: 182px;
	background-image: url('../images/Cleisiophobie.png');
	border-top: 5px solid #48493c; 
	border-bottom: 5px solid #48493c; 
	border-radius: 25px 25px 0 0;
	margin-top: 0em;
}

.content-main-friends {
	float: right; 
	width: 180px; 
	height: 200px; 
	background-image: url('../images/main-friends.png'); 
	border-top: 8px solid #48493c; 
	border-left: 1px dotted #000;
	border-right: 1px dotted #000; 
	border-bottom: 8px solid #48493c; 
	margin-top: -10.5em;
}

#main-friends {
	float: right; 
	width: 175px; 
	height: 198px; 
	background-image: url('../images/main-friends_01.png'); 
	margin-top: 0em;
	margin-right: 0.2em;
}

.friends-second{
	margin-top: 10em;
	margin-left: -3em;
}

#friends-pic {
	width: 160px; 
	height: 180px; 
	background-image: url('../images/friends-pic.png'); 
	border: 1px dotted #48493c; 
	margin-top: 0.7em;
}

.content{
	overflow: auto;
	position: relative;
	padding: 20px;
	margin-top: -36em;
	margin-left: -13em;
	width: 740px;
	max-width: 100%;
	height: 400px;
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
}

.content.hidden{ display: none; }

.content-people {
	overflow: auto;
	position: relative;
	padding: 20px;
	margin-top: 0em;
	margin-left: 0em;
	width: 740px;
	max-width: 100%;
	height: 400px;
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
}

.content-people.hidden{ display: none; }

#script-content-inn-ooc {
	color: #black;
	text-align: justify;
	font-size: 13px;
	padding-left: 5px;
	font-family: Iceland;
	border-left: 6px solid #48493c;
	margin-left: 1em;
}