body {
	background-color: #273346;
	color: #7ea6d1;
}

.content-main {
	width: 1626px;
	height: 1000px;
}

.content-main-left {
	float: left;
	width: 250px;
	height: 450px;
	background-color: #367c63;
	border-left: 2px solid #12cd6b;
	border-top: 2px solid #12cd6b;
	border-bottom: 2px solid #12cd6b;
}

.content-main-left p {
	text-align: justify;
	padding: 10px;
}

.content-main-middle {
	float: left;
	width: 858px;
	height: 1000px;
	background-color: #367c63;
	border: 2px solid #12cd6b;
}

.content-pic {
	width: 858px;
	height: 443px;
	background-image: url('../images/Content.png');
}

.content-story-main {
	width: 858px;
	height: 550px;
}

.story {
	overflow: auto;
	position: relative;
	padding-left: 20px;
	padding-right: 20px;
	width: 850px;
	max-width: 100%;
	height: 550px;
	max-height: 95%;
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
	margin-top: 1.5em;
}

.story.hidden{ display: none; }

.story p {
	text-align: justify;
}

.content-main-right {
	float: right;
	width: 200px;
	height: 350px;
	position: relative;
	background-color: #367c63;
	border-right: 2px solid #12cd6b;
	border-top: 2px solid #12cd6b;
	border-bottom: 2px solid #12cd6b;
	margin-right: 19.35em;
}

a {
	text-decoration: none;
	color: #7ea6d1;
}

#main-menue {
	width: 150px;
	height: 20px;
	background-color: #273346;
	border: 1px solid #7ea6d1;
	margin: 5px;
}

.selected > #main-menue {
    background: rgba(255, 255, 255, .5);
  }

.menue-pic {
	width: 163px;
	height: 140px;
	position: absolute;
	background-image: url('../images/Feli.png');
	border: 1px solid #7ea6d1;
	border-radius: 15%;
	margin-top: 2em;
	margin-left: 1em;
	bottom: 1em;
}
